.logo {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 2;
  background-color: rgb(0, 153, 255);
  width: 100%;
  height: 80;
}

.logo p{
  font-size: 1.5rem;
  font-weight: 500;
  color: white;
}

.logo p span{
  font-size: 1.5rem;
  font-weight: 800;
}

.container {
  padding-top: 100px;
  padding-bottom: 20;
  overflow: hidden;
}

.page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
}

.endSection {
  width: auto;
  margin-left: 30px;
}

.section {
  width: 50%;
  margin: 0 50px;
}

.title {
  width: 30%;
}

.page h2 {
  font-size: 3.9rem;
  font-weight: 700;
  font-family: 'Times New Roman';
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  letter-spacing: -1;
}

.page h4 {
  font-size: 1.4rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  letter-spacing: -1;
}

.page span {
  font-style: italic;
}

.page .section p {
  font-size: 1.34em;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: left;
  color: rgb(0, 0, 0);
  width: 100%;
}

.title p {
  font-size: 1.34em;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: left;
  color: rgb(0, 0, 0);
  width: 100%;
}

.page h3 {
  font-size: 1.6rem;
  font-weight: 700;
  font-family: 'Times New Roman';
  color: rgb(0, 0, 0);
  text-align: left;
  margin-bottom: 15px;
  letter-spacing: -1;
}

.contactDetails {
  display: flex;
  flex-direction: column;
}

.contactItem {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
  font-size: 20;
  font-weight: 500;
  color: rgb(132, 139, 143);
  font-family: 'Times New Roman', Times, serif;
}

.icon {
  color: #ffffff;
  background-color: #cae0ff;
  padding: 10;
  border-radius: 50%;
}
.serviceHead {
  margin-top: 50;
  font-size: 2rem;
  color: #c9c9cf;
}
.servicesGrid {
  display: none;
  justify-content: space-between;
  gap: 32px;
  flex-wrap: wrap;
}

.serviceCard {
  border-radius: 8px;
  text-align: left;
  flex: 1 1 30%;
  box-sizing: border-box;
  color: #fff;
  transition: transform 0.3s ease;
}

.serviceCard h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.serviceCard p {
  font-size: 1rem;
}

.serviceCard:hover {
  transform: translateY(-10px);
}


@media (max-width: 1100px) {
  .page {
    flex-wrap: wrap;
    width: 90%;
  }
  
  .endSection {
    margin-left: 0px;
  }
  
  .section {
    width: 70%;
    margin: 0 50px;
  }
  
  .title {
    width: 70%;
    text-align: center;
  }
  
  .page h2 {
    font-size: 3.5rem;
  }
}


@media (max-width: 700) {
  .container {
    padding-top: 80px;
  }

  .page {
    flex-wrap: wrap;
    width: 90%;
  }
  
  .section {
    width: 100%;
    margin: 0 50px;
  }
  
  .title {
    width: 100%;
    text-align: center;
  }
  
  .page h2 {
    font-size: 2.8rem;
  }

  .page .section p {
    font-size: 1rem;
  }
}
